/* GLOBAL */
:root {
  --branco: #fff;
  --creme: #f8e9d8;
  --cinza-claro: #c6c6c6;
  --cinza-escuro: #303030;
  --cinza-medio: #6f6f6f;
  --chocolate: #b5673e;
  --chocolate-medio: #6c5449;
  --chocalate-escuro: #574142;
  --laranja-medio: #e57c49;
  --rosa-claro: #f8e4d8;
  --rosa-medio: #ffc5d3;
  --rosa-escuro: #fd536a;
  --verde-escuro: #12973c; /*#06402b;*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Rolagem suave */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #303030;
  background-color: var(--branco);
}

section {
  scroll-margin-top: 100px; /* Margem para compensar o header */
  width: 100%;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0px auto;
  padding: 60px 0;
  width: 100%;
}

.titulo-secao {
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: var(--chocalate-escuro);
  font-weight: 600;
  font-size: 28px;
  text-shadow: 1px 1px var(--branco);
}

.resumo-secao {
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

.menu li a:link,
.menu li a:visited,
.box-produtos a:link,
.box-produtos a:visited,
.box-cardapio a:link,
.box-cardapio a:visited {
  color: var(--chocalate-escuro);
}

.menu li a:hover,
.menu li a:active,
.box-produtos a:hover,
.box-produtos a:active,
.box-cardapio a:hover,
.box-cardapio a:active {
  color: var(--rosa-escuro);
}

/* SECAO CABECALHO */
.secao-cabecalho {
  width: 100%;
  height: 100px;
  background-color: var(--creme);
  position: fixed;
  z-index: 1;
  border-bottom: solid 1px var(--chocolate);
}
.logo {
  width: 90px;
  height: 90px;
}

.topo,
.menu {
  display: flex;
  align-items: center;
}

.topo {
  justify-content: space-between;
  padding: 5px 50px;
}

.menu {
  justify-content: center;
  list-style-type: none;
  font-weight: 700;
}

.menu li {
  padding-left: 20px;
  font-size: 16px;
}

/* SECAO RODAPE */

.container-rodape {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
}

.logo-rodape {
  width: 120px;
  height: 120px;
}

.logo-whatsapp {
  width: 50px;
  height: 50px;
}
/*

.logo-whatsapp-fixo {
  position: fixed;
  right: 40px;
  bottom: 60px;
  width: 60px;
}

.logo-whatsapp-fixo:hover {
  transform: translate(5px, 5px);
}

.logo-whatsapp-fixo img {
  width: 100%;
}*/

.linha-divisoria {
  width: 80%;
  border-top: solid 1px var(--chocolate);
  margin: 0 auto;
  margin-bottom: 20px;
}

.direitos-reservados {
  font-size: 13px;
  text-align: center;
}
